.App {
  text-align: center;
}

.Nav {
  display: flex;
  justify-content: center;
  list-style: none;
}

.Nav li {
  margin: 8px;
}

/* Info */
.Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.Info {
  text-align: center;
}

.CrudList {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.CrudList li {
  padding: 2.5px 0;
}
